.App {
  text-align: center;
}

.all-cards{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.fullstack-card{
  padding: 20px;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}